/* Base */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #681f37;
    color: white;
    font-family: "Montserrat", sans-serif;
}
.backgroundImg{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.Welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.logo {
    width: 17em;
}

.TextWelcome {
    font-size: 2.5em;
    font-weight: bold;
}
.txtLegal{
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    padding: 1em;
}
.btnDiv{
    display: flex;
    padding: 0.5em;
    gap: 2em;
}
.btnDiv a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    box-shadow: 1px 3px 10px #300d18;
    padding: 1em 2em;
    border-radius: 50px;
}

.btnDiv a:hover {
    background-color: white;
    color: #681f37;
    transition: 0.3s;
}

.btnDiv a:active {
    background-color: rgb(224, 224, 224);
    box-shadow: 1px 1px 1px #300d18;
    transition: 0.3s;
}

.footer{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.footer img{
    width: 6em;
}
.Galo{
    display: flex;
    align-items: center;
    text-align: center;
}
.Galo img{
    padding-left: 10px;
}