@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e6edf2;
  font-family: "Montserrat", sans-serif;
}
/* Inicio Nav Bar */
.navBar {
  position: fixed;
  z-index: 2;
  display: flex;
}

.navBar button {
  border: 0;
  padding: 1em;
  background: transparent;
  color: #585c62;
  cursor: pointer;
}

.burger {
  z-index: 3;
}

.burgerImg {
  width: 3em;
}


.sideBar{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1em 2em 0;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
  transition-property: translate, opacity, visibility;
  transition-duration: 0.5s;
  translate: -100% 0;
  visibility: hidden;
  opacity: 0;
}

.open .sideBar{
  opacity: 1;
  visibility: visible;
  translate: 0 0;
}

.logo{
  display: flex;
  align-items: center;
  gap: 8px;
  width: 108px;
}

.logo img{
  width: 32px;
}

.logo span{
  font-size: 18px;
  color: #606468;
}

.navAnchor a{
  text-decoration: none;
  color: black;
}

/* Side bar se torna Nav bar */
@media screen and (min-width: 600px){
    .sideBar{
        translate: 0 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 72px;
        padding: 1em;
        opacity: 1;
        visibility: visible;
    }
    .burger{
      visibility: hidden;
    }
    .navAnchor li{
      display: inline-block;
      padding-right: 2em;
    }
}

/* Fim Nav Bar */
/* Inicio catalogo */
.secndPage{
    text-align: center;
    background-color: rgb(238, 238, 238)
  }
  
  .secndPage h1{
    padding: 3%;
  }
  
  .mWines{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    padding: 2em;
  }
  .mWines img{
    max-width: 8em;
  }
  .mWine{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
  }
  .mwName{
    font-weight: bold;
    font-size: 1.3em;
  }
  .mwDesc{
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
  .mwPrice{
    font-size: 1.1em;
    font-weight: bold;
  }
  @media screen and (min-width: 600px) {
    .mWines{
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: space-around;
      padding: 2em;
    }
    .mWines img{
      max-width: 8em;
    }
    .mWine{
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid black;
      background-color: transparent;
      border-radius: 20px;
      max-width: 20%;
      max-height: 20%;
    }
    .mwName{
      font-weight: bold;
      font-size: 1.3em;
    }
    .mwDesc{
      padding: 0.5em 1em;
      font-size: 0.9em;
    }
    .mwPrice{
      font-size: 1.1em;
      font-weight: bold;
    }
  }
  /* Fim catalogo */
  .footer{
    display: flex;
    color: white;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
  .footer img{
    width: 6em;
  }
  .Galo{
    display: flex;
    align-items: center;
    text-align: center;
  }
  .Galo img{
    width: 4.5em;
    padding-left: 10px;
  }
  
  #preloader{
    background: #300d18 url(../imgs/Wine.gif) no-repeat center ;
    background-size: 7%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }